[Unit]
Description=Delete expired websites for tmpweb.net.
Documentation=https://github.com/Fraetor/tmpweb.net
After=tmpweb.service

[Service]
Type=oneshot
User=www-data
ExecStart=curl -sS -X DELETE http://127.0.0.1:8000
