body {
    background-color: #f0f0f2;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

main {
    max-width: 600px;
    padding: 2em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 2px 3px 4px 2px darkgrey;
}

@media (min-width: 600px) {
    main {
        margin: 4em 0;
    }
}

h1 {
    margin: 0;
    text-align: center;
}

code {
    background-color: #bac8ff;
    padding: 1em;
    border-radius: 0.5em;
    font-size: larger;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.link-button {
    display: block;
    text-decoration: none;
    color: black;
    background-color: #91a7ff;
    transition: background-color 0.2s;
    width: fit-content;
    margin: 2em auto 0;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 2px 3px 4px 2px darkgrey;
}

.link-button:hover {
    background-color: #748ffc;
    transition: background-color 0.2s;
}

.link-button:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 2px 3px darkgrey;
}

.logo {
    text-align: center;
    margin: 2em auto;
    width: 100%;
    max-width: 520px;
    display: block;
}
